@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Albert Sans", sans-serif; 
}

:root{
    --cinza-claro: #D9D9D9;
    --cinza-escuro: #333333; 
    --azul--claro: #6288AB;
}

.header-page{
    width: 100%;
    padding: 20px;
    background-color: var(--cinza-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-page ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.header-page h3{
    font-size: 35px;
}

.header-page a{
    text-decoration: none;
    color: var(--cinza-escuro);
}

.banner img{
    width: 100%;
}

.metade{
    color: var(--azul--claro);
}

.collections{
    padding: 20px;
    margin: 20px auto;
    
}

.collections h2{
    font-size: 40px;
    text-align: center;
    margin: 30px 30px 0 0;
    color: var(--azul--claro);
}

.collection-item{
    display: flex;
    align-items: center;
    
}

.collection-item img{
    width: 31%;
    padding: 20px;
    transition: 1.5s;
    background-color: var(--cinza-claro);
}

.itens{
    flex: auto;
}






